@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.75);
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  padding: 0;
  margin: 0;

  --primary-color-400: #242424;
  --primary-color-800: #1A1A1A;
  --secondary-color: #cc5827;
  --text-color: rgba(255, 255, 255, 0.75);

  --font-size: 1em;
  --largest-font-size: 1.2em;
  --large-font-size: 1.1em;
  --small-font-size: 0.8em;
  --icon-font-size: 0.7em;

  --min-width: 19em;
  --max-width: 30em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--large-font-size);
  background-color: var(--primary-color-400);
  color: var(--secondary-color);
  margin: 0.5rem;
  padding: 0.75rem;
  border: solid 1px black;
  transition: border 0.25s;
}

button:hover {
  border: solid 1px var(--secondary-color);
}

.link-button {
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  text-align: left;
}

.link-button:hover {
  border: none;
  text-decoration: underline;
}

input, textarea {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
}

input:focus, textarea:focus {
  outline: none;
}

.styled-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--text-color);
  background: transparent;
}

.styled-textarea {
  width: 100%;
  height: 150px;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: var(--primary-color-400);
  resize: none;
}

.small-text {
  font-size: var(--small-font-size);
}

.large-text {
  font-size: var(--large-font-size);
}

.largest-text {
  font-size: var(--largest-font-size);
}

.center-text, .text-center {
  text-align: center;
}

.right-text, .text-right {
  text-align: right;
}

.left-text, .text-left {
  text-align: left;
}

.wide-100 {
  width: 100%;
}

.wide-95 {
  width: 95%;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}